<!DOCTYPE html>
<html lang="nl-be">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cultruur & erfgoed</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.js" 
    integrity="sha256-EErZamuLefUnbMBQbsEqu1USa+btR2oIlCpBJbyD4/g=" crossorigin="anonymous"></script>

    <script src="/mapScript.js" defer></script>
    <link rel="stylesheet" href="/css/mapStyle.css">

    <link rel="stylesheet" type=text/css href="/css/style.css">
    
    <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.antwerpen.be/core_branding_favicons/citizens/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.antwerpen.be/core_branding_favicons/citizens/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.antwerpen.be/core_branding_favicons/citizens/favicon-16x16.png">
    <link rel="manifest" href="https://cdn.antwerpen.be/core_branding_favicons/citizens/site.webmanifest">
    <link rel="mask-icon" href="https://cdn.antwerpen.be/core_branding_favicons/citizens/safari-pinned-tab.svg" color="#cf0039">
    <meta name="msapplication-TileColor" content="#cf0039">
    <meta name="theme-color" content="#cf0039">

    <link href="https://cdn.antwerpen.be/core_branding_scss/3.0.3/main.min.css" rel="stylesheet" type="text/css">

</head>
<!-- <body> -->
    <header>
        <!-- Logo Antwerpen -->
        <img src="A_logo_RGB_123x123.jpg" alt="logo antwerpen">
        <div class="top">
            <nav>
            <ul>
                <li><a href=#> <span onclick="CheckNav()" >lijst</span></a></li>
                <li><a href= #>contact</a></li>
                <li><a href= #>over ons</a></li>
            </ul>
            </nav>  
        </div>
        <!-- Hamburger Menu -->
        <nav role="navigation">
            <div id="menuToggle">
              <input type="checkbox" />
              <span></span>
              <span></span>
              <span></span>
              
              <ul id="menu">
                <li><a href=#> <span onclick="CheckNav()" id="lijst">lijst</span></a></li>
                <li><a href= #>contact</a></li>
                <li><a href= #>over ons</a></li>
              </ul>
            </div>
          </nav>
    </header>
    <main>
        <!-- Sidenav -->
        <div id="sidenav">
            <!-- <span onclick="openNav()">open</span> -->
            <div id="mySidenav" class="sidenav">
                <!-- Sidenav om de lijst van erfgoed and cultuur te tonen -->
                <a href="#">Placeholder</a>
                <a href="#">Placeholder</a>
                <a href="#">Placeholder</a>
                <a href="#">Placeholder</a>
              </div>
        <!-- Map -->
            <div id="map"></div> 
        </div>
    </main>
    <footer>

        <div>
            <span>&copy 2020 Antwerpen.be |</span>
            <a href="https://www.antwerpen.be/nl/info/5310f241aaa8a74f6c8b458d/a-stad-uw-privacy-en-hoe-gebruiken" target="_blank">Privacy &amp; gebruiksvoorwaarden</a>
        </div>
    </footer>
</body>


<script>

function CheckNav()
{
    navSize = document.getElementById("mySidenav").style.width;
    console.log(navSize)
    if (navSize == "250px") {
        return closeNav();
    }
    return openNav();
}

function openNav() 
{
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {

  document.getElementById("mySidenav").style.width = "0";
}
</script>

<!--  JSON Data inladen 
<script>let jsonData = "<%= jsonData %>";</script>
<script src="/mapScript.js" defer></script>
-->
</html>
