<!DOCTYPE html>
<html lang="nl-be">
<head>   
    <%- include('partials/meta') %>
</head>
  <body>
    <%- include('partials/header') %>
    <main>
       <!-- Login form code -->
       
    </main>
    <%- include('partials/footer') %>
</body>
</html>
