@media screen and (max-width: 720px)
{
    #map {
        height: 500px;
    }
}

@media screen and (max-width: 1080px)
{
    #map {
        height: 750px;
    }
}


@media screen and (max-width: 1440px)
{
    #map {
        height: 750px;
    }
}

@media screen and (max-width: 2160px)
{
    #map {
        height: 750px;
    }
}
